@model AppMvcLoginReg.Models.Curso

<h3>Esta usted seguro de querer eliminar el siguiente Curso?</h3>
<div>
    <dl>
        <dt>
           @Html.DisplayNameFor(model => model.NombreCurso) 
        </dt>
        <dd>@Html.DisplayFor(model => model.NombreCurso)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCurso" />
        <input type="submit" value="Eliminar" />
    </form>
    <div>
        <a asp-action="Index">Volver</a>
    </div>
</div>